/* Headers */
h1 {
  margin: 0;
  font-family: "Nosifer", cursive;
  font-weight: 100;
  font-size: 4rem;
  text-align: center;
  color: #0000ff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Rainbow 5s ease infinite;
}

@keyframes Rainbow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


h2 {
  color: #52ff97;
  font-size: 3.2em;
  text-align: center;
  font-family: DistantGalaxy, sans-serif;
}

h3 {
  color: #6f00ff;
  font-size: 2.2em;
  text-align: center;
  font-family: DistantGalaxy, sans-serif;
}

h4 {
  color: #52ff97;
  font-size: 1.7em;
  text-align: center;
  font-family: DistantGalaxy, sans-serif;
}

h5 {
  color: #52ff97;
  font-size: 2em;
  text-align: center;
  font-family: DistantGalaxy, sans-serif;
}

h6 {
  color: #52ff97;
  font-size: 1.5em;
  text-align: center;
  font-family: DistantGalaxy, sans-serif;
}