/* Headers */
h1,
h1 a {
  margin: 0;
  font-family: "Nosifer", cursive;
  font-size: 4rem;
  text-align: center;
  color: #0000ff;
}

h1,
h4,
h5,
h6 {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbowHeader 5s ease infinite;
}

h2 {
  text-align: center;
  font-family: PPNeueMachinaBold, sans-serif;
}

h2,
h2 a {
  font-size: 1.8rem;
}

h3 {
  color: hsl(19, 100%, 50%);
  font-size: 1.5rem;
  text-align: center;
  font-family: PsychofunRegular, sans-serif;
}

h4 {
  color: #bc89ff;
  font-size: 1.3rem;
  text-align: center;
  font-family: DistantGalaxy, sans-serif;
}

h5 {
  color: #52ff97;
  font-size: 1.1rem;
  text-align: center;
  font-family: DistantGalaxy, sans-serif;
}

h6 {
  color: #52ff97;
  font-size: 1rem;
  text-align: center;
  font-family: DistantGalaxy, sans-serif;
}

h2.autoplay-header {
  font-size: 3rem;
  margin-bottom: 0;
}

p.autoplay-header-subtext {
  text-align: center;
}
