# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Exclude pnpm lock file
pnpm-lock.yaml

# environment variables
.env
.env.production

.history/

# macOS-specific files
.DS_Store

public

# Add fonts to git
!public/fonts/

# Images not to be ignored
!public/favicon.ico
!public/images/blog/LOGO/LOGO.png
!public/images/blog/layout/GIF/colorbar.gif
!public/images/blog/layout/GIF/glasslike-visual.gif
!public/images/blog/layout/GIF/SLOWEREARLYDISCOSHIT.gif
!public/images/blog/layout/GIF/FULL-MOON.gif
!public/images/blog/layout/GIF/TRAVELING-STARS.gif
!public/images/blog/Canvas/GIF/ROCKETS-AROUND-EARTH.gif
!public/images/blog/Canvas/GIF/THREE-ZEBRA-LADIES.gif
!public/images/blog/Canvas/GIF/CAT.gif

!public/images/blog/Dave-L/DAVE-L.jpg

!public/images/blog/venetian-snares/AN.jpg
!public/images/blog/artists/bobby-starchild/soundcloud.com_bobby-starchild.png
!public/images/blog/artists/food4riot/soundcloud.com_food4riot_header.png


.vercel
