---
import ReleaseInformation from "../../components/release/ReleaseInformation.astro";
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";
const title = "Default Template";
const pubDate = "2023 - 12 - 26";
const author = "ThomDev";
const image = "https://f4.bcbits.com/img/0007508729_10.jpg";
const alt = "Default Records";
const tags = [
  "Default Label",
  "Test",
  "Early",
  "Early Hardcore",
  "Early Terror",
  "Terror",
  "Speedcore",
  "Breakcore",
  "Label",
  "Record Label",
  "Twisted",
  "Planet Mu",
  "Artist",
];
---

{
  /* 
<table
    style={{
      border: "0px",
      width: "100%",
      marginLeft: "auto",
      marginRight: "auto",
    }}
  >
    <tbody>
      <tr class="post-date-author-row">
        <td
        class="pub-date"
          style={{
            width: "50%",
            border: "0px",
            textAlign: "left",
          }}
        >
          Published {frontmatter.pubDate.slice(0, 10)}
        </td>
        <td
          style={{
            width: "50%",
          }}>
        </td>
      </tr>
      <tr class="post-date-author-row">
        <td
        class="author"
          style={{

          }}
        >
            Author: {frontmatter.author}
        </td>
        <td
          style={{
            width: "50%",
            border: "0px",
            textAlign: "right",
          }}></td>
      </tr>
    </tbody>

    <h1>{frontmatter.title}</h1>
    <div class="post-image">
      <img
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image.alt}
      />
    </div>

  </table> */
}
 -->
