@import url("fonts.css");

/* Styles for design and structure of media playes embedded from external services. */
@import url("players/bandcamp.css");
@import url("players/soundcloud.css");
@import url("players/youtube.css");
@import url("layout/navigation/links.css");
@import url("content/text.css");
@import url("animations/gradient.css");
@import url("animations/moonZoom.css");

html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: DistantGalaxy, sans-serif;
  text-align: justify;
  min-height: 100vh;
  background-size: 200% 200%;
  /* background: url("/images/blog/layout/GIF/.gif"), repeat; */
  background: url("/images/blog/layout/GIF/TRAVELING-STARS.gif"), repeat;
  /* background-image: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff00ff); */
  animation: gradient 5s infinite;
}

@keyframes spotlight {
  0% {
    opacity: 0.8;
    background-position: 0% 50%;
    background-size: 80%;
  }
  25% {
    opacity: 0.65;
    background-position: 50% 50%;
    background-size: 114%;
  }
  50% {
    opacity: 0.35;
    background-position: 100% 50%;
    background-size: 104%;
  }
  75% {
    opacity: 0.79;
    background-position: 50% 50%;
    background-size: 92%;
  }
  100% {
    opacity: 1;
    background-position: 0% 50%;
    background-size: 100%;
  }
}

@keyframes backzoomer {
  0% {
    /* opacity: 0; */
    background-position: 0% 50%;
    background-size: 100%;
  }
  25% {
    /* opacity: 0.5; */
    background-position: 50% 50%;
    background-size: 114%;
  }
  50% {
    /* opacity: 0.6; */
    background-position: 100% 50%;
    background-size: 104%;
  }
  75% {
    /* opacity: 0.79; */
    background-position: 50% 50%;
    background-size: 92%;
  }
  100% {
    /* opacity: 1; */
    background-position: 0% 50%;
    background-size: 100%;
  }
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.28;
}

/* */
iframe html {
  margin-left: 100px;
  margin-right: auto;
}

/* height: 100vh;
  margin: 0;
  background-size: 200% 200%;
  background-image: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff00ff);
  animation: gradient 5s ease-in-out infinite;*/

* {
  box-sizing: border-box;
}

.color-neon-green {
  color: #18f506;
}

.nabla {
  font-family: Nabla, sans-serif;
}

.nosifer {
  font-family: Nosifer;
}

/* Headers */
h1 {
  margin: 0;
  color: #52ff97;
  font-family: "PsychofunRegular", cursive;
  font-weight: 100;
  font-size: 4rem;
  text-align: center;
  color: #fff;
  background-image: url("/images/blog/layout/GIF/colorbar.gif") repeat-x;
}

h2 {
  color: #52ff97;
  margin-top: 0;
  font-size: 5rem;
  font-family: DistantGalaxy, sans-serif;
  font-weight: 100;
}
h3 {
  color: #52ff97;
  font-size: 2.5em;
  font-family: DistantGalaxy, sans-serif;
}

h4 {
  color: #52ff97;
  font-size: 2.3em;
  font-family: DistantGalaxy, sans-serif;
}

h5 {
  color: #52ff97;
  font-size: 2em;
  font-family: DistantGalaxy, sans-serif;
}

a {
  color: rgb(224, 232, 12);
}

table {
  border: 0px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  text-align: "center";
}

table tbody {
  padding: 0.5rem;
  border: 0px solid #ccc;
  text-align: center;
}

table thead {
  padding: 0.5rem;
  border: 0px solid #ccc;
  text-align: center;
}

hr {
  border: none;
  margin-bottom: 2px;
  height: 10px; /* Adjust as needed */
  background: url("/images/blog/layout/GIF/colorbar.gif") repeat-x;
}

iframe {
  width: 100% !important;
  margin-bottom: 30px;
}

table tbody .post-date-author-row {
  border-spacing: 0px;
}

/* Div with text above landing page blog title */
.main-header-pre-text {
  font-family: DistantGalaxy, sans-serif;
  margin: 0;
  font-size: 3.6rem;
  text-align: left;
}

/* Div with text below landing page blog title */
.un-radio-identity {
  font-family: DistantGalaxy, sans-serif;
  margin: 0;
  font-size: 2.1rem;
  text-align: right;
}

table tbody .pub-date {
  font-style: italic;
  color: #777;
}

table tbody .author {
  color: #002d30;
  font-weight: "900";
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: "50%";
  border: "0px";
  line-height: normal;
}

table tbody .author p {
  text-align: left;
}

.release-information {
  margin-bottom: 30px;
}

.main-header-island {
  /* position: absolute; */
  top: 0px;
  left: 0;
  border-radius: 25px;
  margin-top: 0px;
  width: 100%;
  height: 100vh;

  /* text-align: center;
  font-size: 1.4rem; */
  margin-bottom: 30px;
  /*
  min-height: 100vh;

  /* border-radius: 15%; */
  /* /* padding-bottom:30px; */
  /* background-image: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff00ff); */
  background: url("/images/blog/layout/GIF/glasslike-visual.gif") repeat;

  animation: gradient 30s ease-in-out infinite, 120s spotlight,
    flubber 120s ease-in-out infinite;
  /* text-align: center; */
  display: flex;
  opacity: 0.5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 96vh; /*or any other value that fits your needs */
}

@keyframes flubber {
  0% {
    border-radius: 0%;
  }
  50% {
    border-radius: 40%;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes elastic {
  0% {
    padding-left: 0px;
    padding-right: 0;
  }
  50% {
    padding-left: 100px;
    padding-right: 100%;
  }
  100% {
    border-radius: 0px;
  }
}

.welcome-header {
  z-index: 100; /* or any other positive number */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* or any other value that fits your needs */
}

.welcome-text-island {
  width: 100%;
  text-align: center;
  height: auto;
  border-radius: 30px;
  padding-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;
  animation: gradient 35s ease-in-out infinite;
  opacity: 1;
  background: url("/images/blog/layout/GIF/glasslike-visual.gif") repeat;
}

.proudly-presented-island {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  background: url("/images/blog/layout/GIF/glasslike-visual.gif") repeat;
  animation: gradient 77s ease-in-out infinite, spotlight 80s ease-in-out,
    flubber 1000s ease-in-out infinite;
}

.stabalizing-island {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  background: url("/images/blog/layout/GIF/glasslike-visual.gif") repeat;
  animation: gradient 78s ease-in-out infinite, spotlight 200s ease-in-out,
    flubber 100s ease-in-out infinite;
}

.proudly-presented-island {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
  background: url("/images/blog/layout/GIF/glasslike-visual.gif") repeat;
  animation: gradient 76s ease-in-out infinite, spotlight 200s ease-in-out,
    flubber 100s ease-in-out infinite;
}

.rainbowroad-downward-deep-into-the-underground {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
  background: url("/images/blog/layout/GIF/glasslike-visual.gif") repeat;
  animation: gradient 77s ease-in-out infinite, spotlight 400s ease-in-out,
    flubber 1000s ease-in-out infinite;
}

.post-image {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

section {
  text-align: justify;
  text-justify: inter-word;
  background: url("/images/blog/layout/GIF/glasslike-visual.gif") repeat;
  border-radius: 40px;
  padding: 40px;
  margin-bottom: 30px;
}

.section div {
  opacity: 1;
}

.release-of-the-week-section {
  text-align: justify;
  text-justify: inter-word;
  opacity: 1;
  color: #fff;
  border-radius: 40px;
  padding: 40px;
  margin-bottom: 30px;
}

.release-of-the-week-section p,
.release-of-the-week-section .header-island,
.release-of-the-week-section .header-island h2 {
  background-color: #4b08d2;
  padding: 10px;
  color: #fff;
}

.release-of-the-week-section h2 {
  margin-top: 0;
  color: #4b08d2;
}

.release-of-the-week-section h3 {
  margin-top: 0;
  color: #4b08d2;
}

.section-island {
  padding-top: 80px;
  padding-bottom: 80px;

  width: 100%;
  text-align: center;

  /* background: url('/images/blog/layout/GIF/glasslike-visual.gif') repeat; */
  /* background-image: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff00ff); */
  /* animation: gradient 50s ease-in-out infinite; */
  /* border-radius:3%; */
}

.section-island p {
  font-size: 1.2rem;
}

.spotlight-release {
  text-align: justify;
  width: 70%;
  text-justify: inter-word;
  background-size: 600% 600%;

  color: #fff;
  /* animation: spotlight 750s ease-in-out infinite; */
  border-radius: 40px;
  padding: 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

a {
  margin-top: 0;
  font-weight: 900;
  font-size: 1.2rem;
  color: #9900ff;
}

a:visited,
a:visited {
  color: rgb(140, 140, 140);
  font-weight: 100;
}

.credits-section {
  text-align: justify;
  text-justify: inter-word;
  background: url("/images/blog/layout/GIF/glasslike-visual.gif") repeat;
  color: #4b08d2;
  border-radius: 40px;
  padding: 40px;
  margin-bottom: 30px;
}

.credits-section h2 {
  margin-top: 0;
  color: #4b08d2;
}

.credits-section h3 {
  margin-top: 0;
  color: #4b08d2;
}

.credits-section a {
  margin-top: 0;
  color: #ea00ff;
}

.release {
  width: 100%;
}

.post-main-image,
.post-main-image img {
  width: 100%;
  background-color: #4b08d2;
  padding: 10px;
  height: auto;
}

/* Intro text */

.flashback-review {
  text-align: justify;
  color: #fff;
  margin-left: 30px;
  margin-right: 30px;
}

.bandcamp-embed-container {
  /* position: relative; */
  width: 100%;
}

.soundcloud-embed-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 30px;
}

/* Make Youtube video responsive */
.youtube-embed-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 30px;
}
.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* End Youtube video responsive styles */

.label {
  border-bottom: 4px solid grey;
  padding-bottom: 35px;
}

.bottom-release-info,
.release-info {
  margin-bottom: 30px;
  font-style: italic;
}
