footer .copyright {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    font-family: PPNeueMachinaRegular, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    text-shadow: 0 0 0.5rem #000;
}

footer .social {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

footer .social a {
    display: inline-block;
    margin-right: 1rem;
}

footer .social a:last-child {
    margin-right: 0;
}

footer .social a:hover {
    background-color: #0091ff;

}