---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostLink from "../../components/blog/BlogPostLink.astro";

const allPosts = await Astro.glob("../posts/music/*.mdx");

const { tag } = Astro.params;
const filteredPosts = allPosts.filter((post) =>
  post.frontmatter.tags?.includes(tag)
);
---

<BaseLayout pageTitle={tag}>
  <div class="second-layer">
    <p>Posts tagged with {tag}</p>
    <div class="tags">
      {
        filteredPosts.map((post) => (
          <BlogPostLink url={post.url} title={post.frontmatter.title} />
        ))
      }
    </div>
  </div>
</BaseLayout>
