
@keyframes spotlight {
  0% {
    opacity: 0.8;
    background-position: 0% 50%;
    background-size: 80%;
  }

  25% {
    opacity: 0.65;
    background-position: 50% 50%;
    background-size: 114%;
  }

  50% {
    opacity: 0.35;
    background-position: 100% 50%;
    background-size: 104%;
  }

  75% {
    opacity: 0.79;
    background-position: 50% 50%;
    background-size: 92%;
  }

  100% {
    opacity: 1;
    background-position: 0% 50%;
    background-size: 100%;
  }
}

@keyframes backzoomer {
  0% {
    /* opacity: 0; */
    background-position: 0% 50%;
    background-size: 100%;
  }

  25% {
    /* opacity: 0.5; */
    background-position: 50% 50%;
    background-size: 114%;
  }

  50% {
    /* opacity: 0.6; */
    background-position: 100% 50%;
    background-size: 104%;
  }

  75% {
    /* opacity: 0.79; */
    background-position: 50% 50%;
    background-size: 92%;
  }

  100% {
    /* opacity: 1; */
    background-position: 0% 50%;
    background-size: 100%;
  }
}