---
import BaseLayout from "../layouts/BaseLayout.astro";
import ReleaseInformation from "../components/release/ReleaseInformation.astro";
("../components/release/ReleaseInformation.astro");
// import YoutuberDetails from "../components/blog/youtube/YoutuberDetails.astro";
const pageTitle = "Contact";
---

{/* ! TODO: alle embeds aflopen op juiste container etc */}
<BaseLayout>
  <div class="content-container">
    <div class="main-content">
      <h1 class="title">Contact</h1>
      Here will be a contact form
    </div>
  </div>
</BaseLayout>
