---
import BaseLayout from "../layouts/BaseLayout.astro";
import ReleaseInformation from "../components/release/ReleaseInformation.astro";
("../components/release/ReleaseInformation.astro");
// import YoutuberDetails from "../components/blog/youtube/YoutuberDetails.astro";
const pageTitle = "CONTACT";
---

<BaseLayout pageTitle={pageTitle}>
  <p>I am open for suggestions, feedback or questions!</p>

  <p>
    Send anything interesting in an e-mail to <a
      href="mailto:5lsltz7sd@mozmail.com?subject=Thom, check this shit out"
      >5lsltz7sd@mozmail.com</a
    >.
  </p>
</BaseLayout>

<!-- 
{/* ! TODO: alle embeds aflopen op juiste container etc */}
<BaseLayout pageTitle={pageTitle}>
  <div class="main-content">
    
</BaseLayout> -->

{/* ! TODO: alle embeds aflopen op juiste container etc */}
