---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/blog/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <table
      style={{
        width: "100%",
        marginTop: "10px",
        borderCollapse: "collapse",
        border: "1px solid black",
      }}
    >
      <thead style={{ backgroundColor: "black", color: "white" }}>
        <tr>
          <th style={{ padding: "10px", textAlign: "left" }}>Source</th>
          <th style={{ padding: "10px", textAlign: "left" }}>How to</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style={{ padding: "10px", borderBottom: "1px solid black" }}
            >Github Issue Tracker</td
          >
          <td style={{ padding: "10px", borderBottom: "1px solid black" }}>
            Create an issue on the <a
              href="https://github.com/ThomPoppins/un-radio/issues"
              target="_blank"
              rel="noopener noreferrer"
              style={{
                color: "black",
                textDecoration: "none",
                fontWeight: "bold",
              }}
            >
              un-radio repository issue tracker
            </a>.
          </td>
        </tr>
        <tr>
          <td style={{ padding: "10px", borderBottom: "1px solid black" }}
            >Github Discussions</td
          >
          <td style={{ padding: "10px", borderBottom: "1px solid black" }}>
            Start a discussion on the <a
              href="https://github.com/ThomPoppins/un-radio/discussions"
              target="_blank"
              rel="noopener noreferrer"
              style={{
                color: "black",
                textDecoration: "none",
                fontWeight: "bold",
              }}
            >
              un-radio Github Discussions
            </a>.
          </td>
        </tr>
        <tr>
          <td style={{ padding: "10px" }}>Email</td>
          <td style={{ padding: "10px" }}>
            Send an email to <a
              href="mailto:thompoppins@gmail.com"
              style={{
                color: "black",
                textDecoration: "none",
                fontWeight: "bold",
              }}
            >
              thompoppins@gmail.com
            </a>.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</BaseLayout>
