---
import BaseLayout from "../layouts/BaseLayout.astro";
import ReleaseInformation from "../components/release/ReleaseInformation.astro";
("../components/release/ReleaseInformation.astro");
// import YoutuberDetails from "../components/blog/youtube/YoutuberDetails.astro";
const pageTitle = "🤪 CONTACT 🤪";
---

{/* ! TODO: alle embeds aflopen op juiste container etc */}
<BaseLayout>
  <div class="main-content">
    <h1 class="title">Contact</h1>
    <p>I am open for suggestions, feedback or questions!</p>

    <p>
      Send anything interesting in an e-mail to <a
        href="mailto:5lsltz7sd@mozmail.com?subject=Thom, check this shit out"
        >5lsltz7sd@mozmail.com</a
      >.
    </p>
  </div>
</BaseLayout>
