---
import BaseLayout from "../layouts/BaseLayout.astro";
("../components/release/ReleaseInformation.astro");
// import YoutuberDetails from "../components/blog/youtube/YoutuberDetails.astro";
const pageTitle = "un-sheeple.me";
---

{/* ! TODO: alle embeds aflopen op juiste container etc */}
<BaseLayout pageTitle={pageTitle}>
  <div class="content-container">
    <div class="main-content">
      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
          src="https://www.youtube-nocookie.com/embed/pB0Lxzm1ZyI?si=0HY41rkldIR3NRec&autoplay=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>

      <h2>Hello world</h2>

      <p style={{ fontSize: "2rem" }}>
        This website is in early development phase, but I'm live anyway, deal
        with it.
      </p>

      <p>
        I am a somewhat experienced web developer who has explored very wide and
        far to find the best music since when I was still in elementary school,
        put into motion by a Tiesto album and rocket launched after hearing the
        first (mainstream) hardcore tracks my sister played on the computer.🔊🎶
        I remember very vividly the hardcore kicks and was sold immediately into
        finding out more of that good stuff I never heard before. 🚀 (I've grown
        out of the taste for mainstream hardcore pretty fast, don't expect any
        kind of mainstream of anything here).
      </p>

      <p>
        This is my own style it requires others to produce the music because I
        can't as long as it is good shit and going very fast then I do the rest
        to complete the "speedprogrammercore" mix, please turn open your volume
        before you start the video, otherwise you can't hear what I try to
        express through my artwork.
      </p>

      <p>
        I like to introduce people to music they would never in their lives come
        across because most people are totally fine with the stuff the
        mainstream decides to be the music everybody should listen to.
      </p>
      <p>
        All commercial radio stations are going along with this microscopic
        selection of commercial" catchy" melodies with a "singer singing a song"
        99% of the time. (Like that's ALL music is about, right? 🥴) It does
        hurt me that the
        <strong> majority of peopleaccept this as the way it is</strong>. 🐑
        Especially after tons of listening sessions with all kinds of people
        enjoying the music and in a lot of cases even seem to be euphoric about
        what they hear and that makes me happy and very aware at the same time
        how awful the reality is for most people who are not aware of the fact
        that there is so much more to discover, kept dumb by the mainstream
        media and the music industry with so much power that they get away with
        playing 1 couple of <a
          href="https://youtu.be/To4SWGZkEPk?si=KVYJfllfND5ZP6Nv"
          ><i>songs (sigh...🥱)</i></a
        > EVERY HOUR FOR MONTHS IN A ROW... 😱 (Are you kidding me?)
      </p>

      <p>
        I don't like other people to decide what is good music and I am lucky
        that I am free and aware and able to discover new music every day
        without any financial costs, WITHOUT a subscribtion to Spotify or
        whatever streaming service you like most. A cosmic scale of variety of
        sounds shared by passionate musicians, producers, and other artists,
        free to listen in good quality for free on the interwebs. The only thing
        it wil take just a little bit of is effort to find the right stuff that
        tickles me the best, but upon finding treasure, you never lose it and
        when you safe it somewhere you can access later, you can never spoil it,
        it is litterally the inexhaustible source of positive energy... Yes even
        when it's dark and/or heavy or a lot of random noise to your ears... at
        least get used to that idea or brace yourself for what you are going to
        stumble upon over here in the safe space on the interwebs reserved for
        me. ( lol)
      </p>

      <p>
        If you want to know what I've stumbled on while cruising on media
        platforms like Bandcamp, SoundCloud, and YouTube, for example, you won't
        believe the wide variety of artistic expressions with top-notch
        production value music is being produced.
      </p>

      <p>
        I like to share my treasure and hope to spread my wealth and knowledge
        among the poor and unknown, take whatever you like from the treasure
        shared on this website.
      </p>

      <p>
        An "overdose of good music" has never been administered so I believe it
        is quite safe to come back to this place whenever you feel like and take
        in the good stuff over and over again.
      </p>

      <p>
        DISCLAIMER: I have 2 single target audiences those are <strong
          >myself</strong
        > and <strong>I</strong>
      </p>

      <p>I am open for suggestions!</p>

      <p>
        PLEASE, anything interesting <a
          href="mailto:5lsltz7sd@mozmail.com?subject=Thom, check this shit out"
          >in a mail to me.</a
        >
      </p>

      <p>Much love, <br />Thom</p>
    </div>
  </div>
</BaseLayout>
