---
import BaseLayout from "../layouts/BaseLayout.astro";
("../components/release/ReleaseInformation.astro");
// import YoutuberDetails from "../components/blog/youtube/YoutuberDetails.astro";
const pageTitle = "un-sheeple.me 🐑";
---

<BaseLayout pageTitle={pageTitle}>
  <h2 style={{ fontSize: "2.8rem" }}>Hello world!</h2>

  <div
    style={{
      width: "50%",
      height: "auto",
      marginLeft: "auto",
      marginRight: "auto",
      marginBottom: "3.5rem",
    }}
  >
    <img src="/images/blog/Canvas/GIF/CAT.gif" alt="Hello Cat" />
  </div>

  <div class="main-content">
    <p style={{ fontSize: "2rem" }}>
      This website is in very early development phase... <br /><br /> It's live though!
      lol
    </p>
  </div>

  <p>
    I am a somewhat experienced web developer who has explored very wide and far
    to find the best music since when I was still in elementary school, put into
    motion by a Tiesto album and rocket launched after hearing the first
    (mainstream) hardcore tracks my sister played on the computer.🔊🎶 I
    remember very vividly the hardcore kicks and was sold immediately into
    finding out more of that good stuff I never heard before. 🚀 (I've grown out
    of the taste for mainstream hardcore pretty fast, don't expect any kind of
    mainstream of anything here).
  </p>

  <p>
    This website has 1 single target audience and that's myself, I'm building
    the website I wanted to have 25 years ago.
  </p>

  <p>I am open for suggestions!</p>

  <p>
    Send anything interesting in an e-mail to <a
      href="mailto:5lsltz7sd@mozmail.com?subject=Thom, check this shit out"
      >5lsltz7sd@mozmail.com</a
    >.
  </p>

  <p>Much love to you everybody! <br />ThomV</p>
  <div class="second-layer">
    <h2>Thomv - RAVERZ mixtape part 1</h2>

    <iframe
      width="100%"
      height="300"
      style="border: none; overflow: auto;"
      allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1720197039&color=%2320ff00&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
    ></iframe>
  </div>

  <div class="main-content">
    <h2>
      <a href="https://soundcloud.com/daedraofficialnl" target="_blank"
        >Spotlight: DAEDRA</a
      >
    </h2>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/ytYt2sZvJeg?si=X17qPxUls3TPyXt5"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>

    <blockquote>
      <p>
        If we’re talking about someone whose main goal is to spread his vision
        and beliefs about hardcore and to present the underground styles to the
        world, it will be DAEDRA.
      </p>

      <p>
        By using his emotions and thoughts and combining elements from many
        different genres within and outside of the hard dance, DAEDRA creates
        his sound. DAEDRA’s style can be described as dark, rough yet harmonic,
        melodic and with the underlying focus of rhythm and hard hitting
        percussive sounds. With that being said, remember the following…
      </p>

      <p>
        As long as the underground breathes, DAEDRA lives to spread the message
        even further.
      </p>
      <footer>Quote Soundcloud</footer>
    </blockquote>

    <h2>Daedra - Be Real</h2>

    <iframe
      width="100%"
      height="300"
      style="border: none; overflow: auto;"
      allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1573866496&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
    ></iframe>

    <h2>DAEDRA - INTRODUCTION TO THE VIRUS (EP)</h2>

    <iframe
      width="100%"
      height="300"
      style="border: none; overflow: auto;"
      allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1191994630&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
    ></iframe>

    <h2>THE DAEDRA TREATMENT ARCHIVE</h2>

    <iframe
      width="100%"
      height="300"
      style="border: none; overflow: auto;"
      allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1189381006&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
    ></iframe>
  </div>
</BaseLayout>

<!-- 
{/* ! TODO: alle embeds aflopen op juiste container etc */}
<BaseLayout pageTitle={pageTitle}>
  <div class="main-content">
    
</BaseLayout> -->
