---
import BaseLayout from "../layouts/BaseLayout.astro";
import ReleaseInformation from "../components/release/ReleaseInformation.astro";
("../components/release/ReleaseInformation.astro");
// import YoutuberDetails from "../components/blog/youtube/YoutuberDetails.astro";
const pageTitle = "uN-RADIo";
---

{/* ! TODO: alle embeds aflopen op juiste container etc */}
<BaseLayout>
  <div class="content-container">
    <div class="section-island">
      <div class="static-text-container">
        <p class="main-subtitle">TEASERS</p>
      </div>

      <h2>
        <a href=""
          >Low Entropy - Eurovision Song Core Medley (Gabbaret Records - A
          Decade)</a
        >
      </h2>

      <div class="soundcloud-autoplay">
        <div class="souncloud-player-container">
          <iframe
            width="100%"
            height="166"
            scrolling="no"
            frameborder="no"
            allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1703242395&color=%2340403c&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
          ></iframe><div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
          >
            <a
              href="https://soundcloud.com/low-entropy"
              title="Low Entropy"
              target="_blank"
              style="color: #cccccc; text-decoration: none;">Low Entropy</a
            > · <a
              href="https://soundcloud.com/low-entropy/eurovision-song-core-medley-gabbaret-records-a-decade"
              title="Eurovision Song Core Medley (Gabbaret Records - A Decade)"
              target="_blank"
              style="color: #cccccc; text-decoration: none;"
              >Eurovision Song Core Medley (Gabbaret Records - A Decade)</a
            >
          </div>
        </div>
      </div>

      <div class="soundcloud-player-container">
        <iframe
          width="100%"
          height="166"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1671924306&color=%2340403c&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
        ></iframe><div
          style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
        >
          <a
            href="https://soundcloud.com/deadnoise"
            title="Deadnoise"
            target="_blank"
            style="color: #cccccc; text-decoration: none;">Deadnoise</a
          > · <a
            href="https://soundcloud.com/deadnoise/ddnse_bttrmnk"
            title="BELLIGERENCE PART 2: HARDCORE"
            target="_blank"
            style="color: #cccccc; text-decoration: none;"
            >BELLIGERENCE PART 2: HARDCORE</a
          >
        </div>
      </div>

      <div class="image">
        <img
          class="image"
          src="https://umamimerch.com/wp-content/uploads/2021/01/UMAMI-2020-Design-Transparent.png"
        />
      </div>

      <h2 class="hidden">u m a m i</h2>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
          src="https://www.youtube.com/embed/videoseries?si=VYyGrW_ronGByudW&list=PL8KvmLSNS1wVrR-rCIiRmEaHQUxL778Ka"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>

    <h2>EEEAAAOOO</h2>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        src="https://www.youtube.com/embed/videoseries?si=ouJul7s92-m-4cpz&list=PL8KvmLSNS1wXyKRcoeicXTzX7An_IM-Vx"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        src="https://www.youtube-nocookie.com/embed/APk4mLodk88?si=nMV0YsruIxt_q4au"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <h2>sea doggo</h2>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        src="https://www.youtube-nocookie.com/embed/T38JRqe5tYQ?si=1bWVC3vJASFyC3-a"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <h2>HALLY LABS</h2>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        src="https://www.youtube-nocookie.com/embed/juW3NyoQ1mU?si=KA27H0tjbKMTQezK"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 971px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=2634766154/size=large/bgcol=333333/linkcol=2ebd35/transparent=true/"
        seamless
        ><a href="https://halleylabs.com/album/fd04-another-versions">FD04
        ANOTHER VERSIONS by HALLEY LABS</a></iframe
      >
    </div>

    <h3>msx' live muziek</h3>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        src="https://www.youtube.com/embed/videoseries?si=nvq9eL-r1_VFBWan&list=PLyu9mj8BM1HLadwJuk0tUFrWUovVJCivF"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <h3>msx - saunamaija</h3>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/5bjVmbaPsQg?si=cmDXHGr4rd_iwVca"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <h3>msx - "warehouse on the cliffside" (MIDI, Roland SC-55)</h3>

    div class="youtube-player-container">

    <h3>msx - live music shit</h3>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        src="https://www.youtube-nocookie.com/embed/videoseries?si=JtYfWbPdscaI4Znt&list=PLyu9mj8BM1HLadwJuk0tUFrWUovVJCivF"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <h2>greenhouse - arc,regn</h2>

    <ReleaseInformation
      releaseDate="30 Sept 2023"
      catalogNumber=""
      country="Canada"
      genre=""
    />

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1136px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=3515713455/size=large/bgcol=ffffff/linkcol=2ebd35/transparent=true/"
        seamless
        ><a href="https://halleylabs.com/album/arc-regn">arc,regn by
        greenhouse</a></iframe
      >
    </div>

    <h2>Electric Specter 電妖怪 - Electric</h2>

    <div class="bandcamp-player-container">
      <iframe
        style="border: 0; width: 700px; height: 1260px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=999290086/size=large/bgcol=ffffff/linkcol=0687f5/package=1172855805/transparent=true/"
        seamless
        ><a
        href="https://geometriclullaby.bandcamp.com/album/ocean-electric">Ocean
        Electric by Electric Specter 電妖怪</a></iframe
      >
    </div>
  </div>
</BaseLayout>
