---
import BaseLayout from "../layouts/BaseLayout.astro";
// import YoutuberDetails from "../components/blog/youtube/YoutuberDetails.astro";
const pageTitle = "(-uN-RADIo-)";
---

<BaseLayout>
  <div class="content-container">
    <div class="section-island">
      <div class="static-text-container">
        <h1>{pageTitle}</h1>
        <img src="/images/blog/Canvas/GIF/ROCKETS-AROUND-EARTH.gif" />

        <p class="sub-title-text right-align"></p>
      </div>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
          src="https://www.youtube.com/embed/videoseries?si=VYyGrW_ronGByudW&list=PL8KvmLSNS1wVrR-rCIiRmEaHQUxL778Ka"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="static-text-container">
      <div class="full-width">
        <div class="static-text-container">
          <p class="nabla" style={{ fontSize: "4em" }}>Play that funky music</p>
        </div>
      </div>
    </div>
  </div>

  <div class="youtube-player-container">
    <iframe
      class="youtube-video"
      src="https://www.youtube.com/embed/videoseries?si=ouJul7s92-m-4cpz&list=PL8KvmLSNS1wXyKRcoeicXTzX7An_IM-Vx"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</BaseLayout>

<div>
  <iframe
    style="border: 0; width: 700px; height: 1136px;"
    src="https://bandcamp.com/EmbeddedPlayer/album=3515713455/size=large/bgcol=ffffff/linkcol=2ebd35/transparent=true/"
    seamless
    ><a href="https://halleylabs.com/album/arc-regn">arc,regn by greenhouse</a></iframe
  >
</div>

<div class="static-text-container">
  <p class="color-neon-green">
    Nobody remembered those days... there was no `🌟UN-RADIO`
  </p>
</div>
