---
import BaseLayout from "../layouts/BaseLayout.astro";
// import YoutuberDetails from "../components/blog/youtube/YoutuberDetails.astro";
const pageTitle = '`🌟uN-RADIo"`';
---

<BaseLayout>
  <div class="content-container">
    <div class="section-island">
      <div class="static-text-container">
        <h1>{pageTitle}</h1>
        <h2 class="psychofun-regular">TEASER</h2>
        <!-- <p class="sub-title-text left-align">listen</p> -->

        <img src="/images/blog/Canvas/GIF/ROCKETS-AROUND-EARTH.gif" />

        <div></div>

        <p class="sub-title-text right-align"></p>
      </div>

      <div class="static-text-container">
        <div class="full-width">
          <div class="static-text-container">
            <p class="sub-title-text">Play</p>
            <p class="nabla" style={{ fontSize: "4em" }}>that funky music</p>
            <p class="sub-title-text">white boy</p>
          </div>
        </div>
      </div>
    </div>

    <div class="youtube-player-container">
      <iframe
        class="youtube-video"
        src="https://www.youtube-nocookie.com/embed/videoseries?si=zvAR7OZcYVtJryhr&list=PL8KvmLSNS1wXyKRcoeicXTzX7An_IM-Vx&mute=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <div class="static-text-container">
      <p class="intro-text">
        Here's a summary of how such a masterpiece comes to life. Get ready for
        a delicious dose of inspiration that awaits you... I feel warm inside
        just thinking about it.
      </p>
    </div>

    <h3>Approach:</h3>
    <p>
      If you're an experienced software or web developer like me, you understand
      well that you can't just randomly start a project of this magnitude. If
      you don't even have the idea of what it is in its entirety that you're
      going to build in a structured and coordinated way, it's impossible to
      estimate where to start. You can't implement "nothing" into "nothing."
      Also, you can't lay the groundwork for something you don't know because
      there is no general foundation for the "unknown." That foundation already
      exists, and I'm literally talking about the technology we're working with
      that is suitable for "general use." Even `npm init` (for the JS & Node.js
      experts), an action that is usually skipped, although I don't rule out
      that there are JS developers who have different experiences, it wouldn't
      exist for no reason. Software design was extremely important to be
      completely thought out before the development process could begin.
    </p>

    <p>
      I had to make sure that this project could go into production before the
      deadline I set, the deadline being "Before the end of my life." It comes
      with enormous stakes.
    </p>

    <h3>The idea:</h3>
    <p>
      The idea is very clear. I am a developer and enjoy listening to
      non-mainstream music. You know what? I'm going to create a music blog.
    </p>

    <p>
      I knew right away that it's an incorrect term that I'm giving it because I
      already knew that on this "blog," I would never write daily messages about
      how my day has been. But until now, it's still not clear to me what term I
      can give it. So, I decided to go full steam ahead for a better world for
      at least a few hours.
    </p>

    <p>
      Okay, I'm already bored writing this "into production release note, a
      moment ago I felt motivation and a complete story to write down for
      everybody, but after this much it already feels like very much boring work
      and generally I do never do somethig I don't feel like doing and on the
      other hand I always do what I like to do and basically do whatever I want,
      I need a secretary for this, if you are interested fo fulfill this role in
      such an high-end environment on volentarly basis, don't hesitate to
      contact me and maybe you will find the exact place you want to be.
    </p>

    <p>
      I can always use a good assisteny especially because of my physical
      condition I suffer feeling tyred and discomfort working on boring stuff or
      any other stuff that is not appealing to me and that is exactly where you
      come in and SAVE THE DAY!
    </p>

    <p>Working for me wouldn't make you an assistent, you'd be a HERO!</p>

    <p>Well... let me know if you think about it.😊</p>

    <p>Release note will hopefully be ready before the deadline...</p>

    <h1>ENCORE:</h1>

    <h4>Dave L - Experimental Techno Set 3 (Weed Infused Original Music)</h4>

    <div class="static-text-container">
      <p class="color-neon-green">
        Nobody remembered those days... there was no `🌟UN-RADIO`
      </p>
    </div>
  </div>
</BaseLayout>
