---
import BaseLayout from "../layouts/BaseLayout.astro";
("../components/release/ReleaseInformation.astro");
// import YoutuberDetails from "../components/blog/youtube/YoutuberDetails.astro";
const pageTitle = "🤪 Home 🤪";
---

{/* ! TODO: alle embeds aflopen op juiste container etc */}
<BaseLayout pageTitle={pageTitle}>
  <div class="content-container">
    <div class="main-content">
      <h2>Speedprogrammercore</h2>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
          src="https://www.youtube.com/embed/pB0Lxzm1ZyI?si=vDqPGNq8_Kt54QE9&autoplay=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>

      <h3>WTF playlist</h3>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
          src="https://www.youtube.com/embed/videoseries?si=ouJul7s92-m-4cpz&list=PL8KvmLSNS1wXyKRcoeicXTzX7An_IM-Vx"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</BaseLayout>
