---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "UN-RADIO";
---

<BaseLayout>
  <div class="section-island">
    <h1>{pageTitle}</h1>

    <p>
      Who can still remember those empty days UN-RADIO wasn't even thought of
      yet?
    </p>

    <div class="static-text-container">
      <h2>`UN-RADIO` AUDIOVISUAL TEASER LIST</h2>
    </div>

    <div class="static-text-container">
      <p class="sub-title-text">
        Juuuust a little teaser... nothing special, but you'll need to follow
        these steps precisely boy...
      </p>
    </div>

    <div class="static-text-container">
      <p class="">FIRST! Play that funky music white boy!</p>

      <div class="release">
        <iframe
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1738780644&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe><div
          style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
        >
          <a
            href="https://soundcloud.com/un-radio-blog"
            title="`UN-RADIO` un-radio.vercel.app, non-mainstream #1"
            target="_blank"
            style="color: #cccccc; text-decoration: none;"
            >&#x60;UN-RADIO&#x60; un-radio.vercel.app, non-mainstream #1</a
          > · <a
            href="https://soundcloud.com/un-radio-blog/sets/early"
            title="Early (Gabber)"
            target="_blank"
            style="color: #cccccc; text-decoration: none;">Early (Gabber)</a
          >
        </div>
      </div>

      <iframe
        style="border: 0; width: 700px; height: 1062px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=1910310572/size=large/bgcol=333333/linkcol=e99708/package=1591916578/transparent=true/"
        seamless
        ><a
        href="https://flatliferecords.bandcamp.com/album/southside-records-003-acid-techno">Southside
        Records 003 (Acid Techno) by Tiago Santos / D.A.V.E. The Drummer / Marco
        M. / Acid Chochi</a></iframe
      >

      <div></div>

      <div class="static-text-container"></div>
      <div class="static-text-container"></div>
      <div class="static-text-container"></div>
      <div class="static-text-container"></div>
      <div class="static-text-container">
        <h4>
          Start this vid and get teeeased like a king of the wallpaper slasher!
        </h4>
      </div>

      <div class="youtube-player-container">
        <iframe
          class="youtube-video"
          src="https://www.youtube-nocookie.com/embed/videoseries?si=zvAR7OZcYVtJryhr&list=PL8KvmLSNS1wXyKRcoeicXTzX7An_IM-Vx"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>

      <div class="static-text-container">
        <p class="intro-text">
          Here's a summary of how such a masterpiece comes to life. Get ready
          for a delicious dose of inspiration that awaits you—I'm feel warm
          inside just thinking about it.
        </p>
      </div>

      <h3>Approach:</h3>
      <p>
        If you're an experienced software or web developer like me, you
        understand well that you can't just randomly start a project of this
        magnitude. If you don't even have the idea of what it is in its entirety
        that you're going to build in a structured and coordinated way, it's
        impossible to estimate where to start. You can't implement "nothing"
        into "nothing." Also, you can't lay the groundwork for something you
        don't know because there is no general foundation for the "unknown."
        That foundation already exists, and I'm literally talking about the
        technology we're working with that is suitable for "general use." Even
        `npm init` (for the JS & Node.js experts), an action that is usually
        skipped, although I don't rule out that there are JS developers who have
        different experiences, it wouldn't exist for no reason. Software design
        was extremely important to be completely thought out before the
        development process could begin.
      </p>

      <p>
        I had to make sure that this project could go into production before the
        deadline I set, the deadline being "Before the end of my life." It comes
        with enormous stakes.
      </p>

      <h3>The idea:</h3>
      <p>
        The idea is very clear. I am a developer and enjoy listening to
        non-mainstream music. You know what? I'm going to create a music blog.
      </p>

      <p>
        I knew right away that it's an incorrect term that I'm giving it because
        I already knew that on this "blog," I would never write daily messages
        about how my day has been. But until now, it's still not clear to me
        what term I can give it. So, I decided to go full steam ahead for a
        better world for at least a few hours.
      </p>

      <p>
        Okay, I'm already bored writing this "into production release note, a
        moment ago I felt motivation and a complete story to write down for
        everybody, but after this much it already feels like very much boring
        work and generally I do never do somethig I don't feel like doing and on
        the other hand I always do what I like to do and basically do whatever I
        want, I need a secretary for this, if you are interested fo fulfill this
        role in such an high-end environment on volentarly basis, don't hesitate
        to contact me and maybe you will find the exact place you want to be.
      </p>

      <p>
        I can always use a good assisteny especially because of my physical
        condition I suffer feeling tyred and discomfort working on boring stuff
        or any other stuff that is not appealing to me and that is exactly where
        you come in and SAVE THE DAY!
      </p>

      <p>Working for me wouldn't make you an assistent, you'd be a HERO!</p>

      <p>Well... let me know if you think about it.😊</p>
    </div>

    <p>
      Lastly will <stronga>promise</stronga> that this release note will contain
      complete information before the deadline expires!
    </p>

    <!--     

    <h3>🎵 Unlocking Musical Freedom</h3>
    <p>
      If most of the music you know has been from mainstream radio or suggested
      by commercial services/apps, you might not have realized that your freedom
      of choice and which things to love may not be truly your own. Perhaps
      discovering new music by making some time in your schedule and going on a
      journey of exploration could lead you to something you'd love even more
      than you ever thought possible. If you have never tried this... Doesn't it
      make sense to start doing that? 🌍 Way much more than half of the people
      on earth find music important in their lives, so I hope this idea could
      inspire someone to get started with the same thing I have done from a very
      young age. It comes natural to me, mostly because the music on the radio
      always annoyed me because the much bigger bunch of it was boring to me.
    </p>
    <h3>🔄 Breaking the Repetition Cycle</h3>
    <p>
      The fact is that I hate hearing some songs being repeatedly played like
      every hour, and hearing a song even 4 times a day is way too often and way
      and way and way too often. I really don't get people accepting this from
      happening to them—literally being shoved some selected songs down their
      throats again and again and again without stopping for months per track
      and always having certain tracks to repeat endlessly. 🤔 I asked people
      lots of times if they find that annoying, and if they still enjoy that
      certain song I heard over and over, and most people say they are used to
      it but are not enjoying it anymore after literally hearing it for 50+
      times. 📻 I have to conclude that these commercial radio stations behaving
      themselves this way to their own listeners have lots of power because for
      many, there is no alternative, and they are forced to listen to it in a
      certain and common situation in their lives. Finding new music that is
      really easy on the ears of many and even give people energy and party
      vibes, if you think it is hard to find such...
    </p>
    <p>You're welcome!</p>
    <p>
      This is how easy it is to find real good music that is not boring as all
      like that mainsteam sheeple radio shit looping the same shit endlessly
      over and over.
    </p>
    <p>
      Who are you? What are we? Do we have to obey the music selection of the
      mainstream media without even realizing it? Why do so few people look
      further then what is being promoted and endlessly repeated to infinity.
      Are you sure you're not sheep?
    </p>
    <p>
      Not in a "party" mood or need to concentrate on work and need something in
      the background? I understand when listening to the music isn't your
      priority that you'd turn on some radio station and get to work hearing
      those same tracks over and over and over and over and over again
      endlessly. There is <strong
        >so much music in the world that you can not even come close to listen
        2% of it!</strong
      > Begint er nu een lampje te branden waar ik het over heb?
    </p>
    <h4>Werk/studie muziek</h4>
    <p>
      Zet deze mix maar eens op als achtergrondmuziek, volume niet heel hoog
      maar als achtergrondmuziek. Waarom komt deze muziek <strong
        >absoluut niet</strong
      > op de radio denk je? Waarom komt deze muziek hoe dan ook niet in de
      buurt van "goed genoeg" om eens op radio te draaien, dat terwijl deze
      muziek bij menig mens prima naar te luisteren is....?
    </p>
    <p>Wat denk je?</p>
    <p>
      Omdat het <strong>niet genoeg geld opleverd.</strong> Dat terwijl het echt
      zeer goede muziek is die door menig mens gewaardeerd zal worden, al
      helemaal ter afwisseling van diezelfde plaat die <strong>elk uur</strong>
       gedraaid wordt. Ik wordt er gewoon knettergek van en werken zonder
      koptelefoon is voor mij geen optie op een kantoor die radio 586, SlamFM en
      zelfs 3FM echt geen optie is voor mij omdat ik namelijk altijd goed
      luister naar muziek en als die muziek <strong
        ><a href="https://www.youtube.com/watch?v=tITkm-sBHH8"
          >vaak BEHOORLIJK tekortschiet en dan werkelijk zo'n plaat als achter
          deze link ELK UUR opnieuw gedraaid wordt...</a
        > Ja dan wordt ik natuurlijk letterlijk gestoord.</strong
      >
    </p>
    <p>
      Ik weet zeker dat er mensen op mijn blog zullen landen die van mening
      zullen zijn dat ze niet eens in de buurt willen komen bij mensen die naar
      dit soort

      <i>"veelal onsamenhangende teringherrie"</i> luisteren, maar ik ben blij
      dat ik niet zo iemand ben en wel dusdanig objectief muziek kan beoordelen
      en er lekker mijn voordeel mee kan doen. Iedereen moet lekker vinden wat
      ie vind, maar muziekwise heb ik de beste smaak, ik ben buitegewoon goed in
      het herkennen van ethetische schoonheid dat er sprake moge zijn van
      hoogontwikkelde sensitiviteit artistieke schoonheid te herkennen. Ik zal
      deze gave niet slechts voor mij alleen houden en jullie delen wat voor
      schoonheid ik allemaal tref terwijl ik soundcloud en bandcamp af crawl op
      zoek naar het beste van het beste. Voor nu zal dat veel electronische
      muziek betekenen dus als dat niet je ding is dan kan je beter gaan en over
      een paar jaar nog eens kijken, of wegblijven net wat jij wil. Niemand
      hoeft op mijn blog te zijn en muziek beluisteren hier is echt op eigen
      initiatief dus ga niet lopen mouwen dat het kutmuziek is want dat is het
      niet dat heb ik vastgesteld als muziekexpert.
    </p>
    <p>Nu ff een snelle headbanger:</p>
    <strong>Hoppaaa, gas der op en programmmeren met die handel!</strong>
  </div>
  <p>
    Programmeren? Ja programmeren, dat is wat ik doe op deze muziek, ik bouw een
    feestje en een dikke applicatie met een MERN stack helemaal zelf en al
    headbangend leer ik mijzelf in een half jaar een complete full stack
    JavaScript framework aan waardoor ik echt alles kan maken wat ik maar kan
    verzinnen en ik ga daar lekker mee door zelfstandig met lekker beukmuziek
    die me lekker gaande houdt want ik ga goed geld verdienen, ik ga daar niet
    mee stoppen tot
  </p>
  <h3>🌐 Discovering Musical Freedom</h3>
  <p>
    I am not mad about it or angry really because there are places on the
    internet like
    <i>Soundcloud</i> and <i>Bandcamp</i> and even <i>Youtube</i> providing
    their service to any artist to publish their sound, and I am very content
    with that. I am very happy that I have found a way to discover new music for
    free—free because the producer of the music decided that it should be
    possible to listen to their hard work to perfection and not expect anything
    in return from someone like me profiting off their creation. 🎧 The artists
    I listen to have that kind of mindset and are mostly happy with the fact
    that I or whoever appreciates the music the way they would make it without
    any commercial interest.
  </p>
  <h3>💖 Gratitude to Music Creators</h3>
  <p>
    If you are publishing your music on a platform like <i>Soundcloud</i> or <i
      >Bandcamp</i
    >, you are not expecting to make money from it and you are not expecting to
    be famous from it. You are just sharing your creation with the world and
    hope someone (or many) will like it—being the way you think the music should
    sound, and the result is ready to be published because of your personal
    satisfaction. I will thank you deeply from my heart because if people like
    you did not exist, I would miss an important piece of my life that is often
    responsible for a mood change from unmotivated to energetic and providing me
    with fuel just by playing something you worked on. 🎶 I can also become
    happy from sad by being touched by mostly a new piece of music I hear, and
    there are even times I feel becoming emotional from music—most of the times
    not even by a vocal message but from a level of perfection that I feel
    grateful to have the right and situation I am able to observe and listen and
    being aware some people don't even have means to be able to experience what
    I do at that time.
  </p>
  <h3>📢 Open Ears, Open Heart:</h3>
  <p>
    I think I told enough about myself and personal experience and relationship
    with music and even the producers of it in my heart enabling me to
    experience. If you think all music on this website sucks, I'm sorry, you are
    not alone at all. Sucks for you because if you did like it very much, you
    would have a place to go where you would get easily provided something new
    and beautiful without even the effort finding it that I did for you. I will
    never post anything I do not find beautiful enough, but please suggest me
    anything and I will be open to it except for such big commercial musicians
    and labels not gaining any noticeable effect from someone like me sharing
    their music and put them in a spotlight. Probably I hate their music anyway,
    but don't hold back, share even if you have doubts. 🎤 I really do research
    into any suggestion and even click often on music I come across that gave me
    an impression that it probably sucks, and almost always it does, but I have
    had exceptions to this rule so there is not really a choice to "miss"
    something genius because of its cover for example. 
  </p>
</BaseLayout> -->

    {
      /*  
<div class="proudly-presented-island">
  <div>
    <div style={{ position: "fixed", top: "60px", width: "full" }}>
      <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/816700333&color=%23724c91&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
      ></iframe><div
        style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
      >
        <a
          href="https://soundcloud.com/enforex"
          title="Enforex"
          target="_blank"
          style="color: #cccccc; text-decoration: none;">Enforex</a
        > · <a
          href="https://soundcloud.com/enforex/b2-ghetto-tour"
          title="Enforex & Hyperactive-D - Ghetto Tour"
          target="_blank"
          style="color: #cccccc; text-decoration: none;"
          >Enforex &amp; Hyperactive-D - Ghetto Tour</a
        >
      </div>
    </div>
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />
    <hr style={{ height: "20px" }} />

    <p class="main-header-pre-text">I Proudly Present</p>

    <div class="stabalizing-island">
      <h1>{pageTitle}</h1>
    </div>
    <div class="rainbowroad-downward-deep-into-the-underground">
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <p class="un-radio-identity">
        Take a trip down to the place where mainsteam is underground
      </p>
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
      <hr style={{ height: "20px" }} />
    </div>
  </div>
</div>
*/
    }

    {
      /*
<div class="section">
  <h1>Un-RADIO</h1>
</div>
<div class="section-island">
  <div class="artist">
    <div class="autohide-fixed-soundcloud-autoplay">
      <div class="soundcloud-embed-container"></div>
    </div>

    <div class="section-island">
      <div class="spotlight-release">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/videoseries?si=dWCnSjeIn_1nuubi&list=PL8KvmLSNS1wXyKRcoeicXTzX7An_IM-Vx"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>

      <div class="section-island">
        <div class="spotlight-release" style={{ marginTop: "100vh" }}>
          <h2>Spotlight:</h2>

          <h3>Celsius - Voyager Part 1</h3>
          <!-- 
    <p>
      This is one of the most genius EP's I heard in a long time, Celsius knows
      exactly how to keep things simple and have absolutely the most impact with
      it. He works with early hardcore samples and sounds and makes it sound
      like it's 1996 with very high quality audio.
    </p>

    <p>
      Maybe this one is a bit fast and loud and not for everyone's ears, but I
      don't care, it's my blog and I decide and nobody can disagree because my
      exceptional taste for the absolute inhumanly genius like this trilory
      Voyager part 1, 2 and 3 are full of early hardcore/terror rave shit
      without any kind of limits, completely insane, just the way I like it!
      LETS GO CELSIUS, CAN'T WAIT FOR PART 4!
    </p> -->

          <div class="release">
            <h4>Voyager Part 1</h4>
            <div class=".bandcamp-embed-container">
              <iframe
                style="border: 0; width: 100%; height: 971px;"
                src="https://bandcamp.com/EmbeddedPlayer/album=3833658094/size=large/bgcol=333333/linkcol=9a64ff/transparent=true/"
                seamless
                ><a
                href="https://karnagerecords.bandcamp.com/album/voyager-part-1">Voyager
                Part 1 by Celsius</a></iframe
              >
            </div>

            <div class="bottom-release-info">
              <h5><strong>Bandcamp info:</strong></h5>

              <p><strong>THE CELSIUS - VOYAGER</strong></p>
              <p>
                A triptych called Voyager taken from this unmissable artist
                will be released early 2021. Fifteen exclusive tracks,
                retracing the History of Hardcore from 1996 until today will
                be available on vinyl and digital during all year. Be ready
                for a superb musical trip!
              </p>

              <div>
                <p>Follow Celsius :</p>
                <ul>
                  <li>
                    <a
                      href="https://soundcloud.com/gglrnet"
                      target="_blank"
                      rel="noopener noreferrer">soundcloud.com/gglrnet</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.instagram.com/celsius_hc/"
                      target="_blank"
                      rel="noopener noreferrer"
                      >www.instagram.com/celsius_hc/</a
                    >
                  </li>
                </ul>
              </div>

              <div>
                <p>Follow Karnage Records:</p>
                <ul>
                  <li>
                    <a
                      href="https://www.karnagerecords.fr"
                      target="_blank"
                      rel="noopener noreferrer">www.karnagerecords.fr</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://soundcloud.com/karnage-records"
                      target="_blank"
                      rel="noopener noreferrer"
                      >soundcloud.com/karnage-records</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.facebook.com/KARNAGE.REC"
                      target="_blank"
                      rel="noopener noreferrer"
                      >www.facebook.com/KARNAGE.REC</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.instagram.com/karnagerecords/"
                      target="_blank"
                      rel="noopener noreferrer"
                      >www.instagram.com/karnagerecords/</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.youtube.com/user/Karnagerecords"
                      target="_blank"
                      rel="noopener noreferrer"
                      >www.youtube.com/user/Karnagerecords</a
                    >
                  </li>
                </ul>
              </div>

              <p>credits</p>
              <p>released February 15, 2021</p>

              <p>
                All tracks written by Neil Gaeggeler, except track 5 written
                by Niek Regelink & Stijn Van Der Laan.
              </p>

              <p>Mastered by Carbou Julien</p>

              <p>license</p>
              <p>all rights reserved</p>
            </div>
          </div>
        </div>
      </div>

      <div class="section-island">
        <iframe
          width="100%"
          height="450"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1563451057&color=%2389a4e1&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
        ></iframe><div
          style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
        >
          <a
            href="https://soundcloud.com/obscuurrecords"
            title="OBSCUUR"
            target="_blank"
            style="color: #cccccc; text-decoration: none;">OBSCUUR</a
          > · <a
            href="https://soundcloud.com/obscuurrecords/sets/arman-john-keep-it-real"
            title="Arman John - Keep It Real"
            target="_blank"
            style="color: #cccccc; text-decoration: none;"
            >Arman John - Keep It Real</a
          >
        </div>
      </div>

      <div class="section-island">
        <div class="section-island">
          <iframe
            width="100%"
            height="450"
            scrolling="no"
            frameborder="no"
            allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1563451057&color=%2389a4e1&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
          ></iframe><div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
          >
            <a
              href="https://soundcloud.com/obscuurrecords"
              title="OBSCUUR"
              target="_blank"
              style="color: #cccccc; text-decoration: none;">OBSCUUR</a
            > · <a
              href="https://soundcloud.com/obscuurrecords/sets/arman-john-keep-it-real"
              title="Arman John - Keep It Real"
              target="_blank"
              style="color: #cccccc; text-decoration: none;"
              >Arman John - Keep It Real</a
            >
          </div>
        </div>
      </div>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/KiAk13w7wlE?si=K6Uh82S1TawN9ymZ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

      <div class="section-island">
        <div class="spotlight-release">
          <div class="artist">
            <h2>Dolphin</h2>

            <p>
              UK hardcore techno/gabber DJ and producer. Also plays techno and
              trance. Owned the 3rd Planet record shop in Rhyl and co-promoted
              the Steam parties.
            </p>

            <h3>Information Asymmetry</h3>

            <div class="release">
              <div class="release-info">
                <ReleaseInformation
                  releaseDate="May 10, 2018"
                  label="PRSPCT Recordings – PRSPCT LP 012, PRSPCT Recordings – PRSPCTLP012CD"
                  country="Netherlands"
                  genre="Electronic"
                  style="UK Hardcore"
                  imgUrl="https://i.discogs.com/hREz-PGpk4jOri3jCcZ5ocGXDatNgriuTQrT08bTKss/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEyMDk2/OTk5LTE1MjgyMjUx/OTktMjc3My5qcGVn.jpeg"
                  imgAlt="Dolphin – Information Asymmetry Album Cover"
                />
              </div>
            </div>

            <div class="release">
              <iframe
                style="border: 0; width: 700px; height: 1136px;"
                src="https://bandcamp.com/EmbeddedPlayer/album=1342231584/size=large/bgcol=333333/linkcol=e99708/transparent=true/"
                seamless
                ><a
                href="https://prspctrecordings.bandcamp.com/album/information-asymmetry-lp">Information
                Asymmetry LP by Dolphin</a></iframe
              >

              <div class="bottom-release-info">
                <strong>Companies:</strong>
                <ul>
                  <li>Mixed At – Barbican Centre</li>
                  <li>Mastered At – Barbican Centre</li>
                  <li>Copyright © – PRSPCT Recordings</li>
                </ul>

                <strong>Credits:</strong>
                <ul>
                  <li>Design – Gabor Ekes</li>
                  <li>Mixed By, Mastered By – Dolphin (6)</li>
                </ul>

                <strong>Notes:</strong>
                <p>
                  All tracks mixed and mastered by Dolphin @ the Barbican,
                  London, UK. With love to everyone that collaborated with me,
                  inspired me and supported me through this labour of love.
                </p>
                <p>
                  Dolphin: "To all my friends, family and fans that keep me
                  doing what I love doing. I love you all. Stay hardcore."
                </p>

                <strong>Identifier:</strong>
                <p>Matrix / Runout: PRSPCTLP012CD</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />
      <hr />
      <hr />

      <div class="section-island">
        <div class="spotlight-release">
          <div class="label">
            <h2>Cenobite Records</h2>

            <p>
              Cenobite, the hardcore label hailing from Amsterdam, originally
              emerged as a sub-label affiliated with the iconic Hellraiser
              Ultimate Hardcore Dance Events (I.S.P.). It has evolved into an
              expansive platform for Experimental Dance Music, boasting a
              diverse international following. While some may categorize its
              sound as TranceCore or the distinct Cenobite style, the label
              proudly identifies its unique sonic landscape as Psycore
              (Psychedelic Hardcore).
            </p>

            <p>
              Psycore is a fusion of various influences, incorporating
              elements from Dark Hardcore, Break-beat, Tekno, Acidcore, and
              PsyTrance. The genre reflects a diverse fabric of inspiration
              drawn from a wide array of musical genres and sounds. Cenobite
              has etched its name into the hardcore music scene, releasing a
              multitude of classics that have left a lasting impact.
            </p>

            <p>
              The Cenobite Collective, a force to be reckoned with, captivates
              audiences globally at festivals and events. Their performances
              showcase the label's dynamic and innovative approach to hardcore
              music, rendering it virtually unrecognizable within the broader
              spectrum of the genre.
            </p>

            <h3>Releases</h3>

            <div class="release">
              <h4>Leviathan - We'll Tear Your Soul Apart</h4>

              <div class="release-info">
                <ReleaseInformation
                  releaseDate="Feb 23, 1996"
                  label="Cenobite Records - 60016"
                  country="Netherlands"
                  genre="Electronic"
                  style="Hardcore, Gabber"
                  imgUrl="https://i.discogs.com/gaOt7-BCmamHHkiY9S4AIHN9t_Txw1gQO3hLyLFjxPo/rs:fit/g:sm/q:90/h:594/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTU4ODE0/LTE0ODkyMjM3MjAt/Mzk0Mi5qcGVn.jpeg"
                  imgAlt="First Cenobite Release Album Cover"
                />
              </div>

              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/videoseries?si=D9iY0uhoGQ5PxmjA&list=OLAK5uy_nwwpi3rTI2f_Is3NLYJnoE3LkZem0tRnk"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

              <p>
                <i
                  >First release on the trancecore-styled Cenobite label.
                  recorded at M.K. Studio</i
                >
              </p>

              <p><i>© 1996 Cenobite</i></p>

              <p>
                <i
                  >"We'll Tear Your Soul Apart" Samples the Movie "Hellraiser"</i
                >
              </p>
            </div>

            <hr />

            <div class="release">
              <iframe
                width="100%"
                height="166"
                scrolling="no"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/198614519&color=%23342c45&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
              ></iframe><div
                style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
              >
                <a
                  href="https://soundcloud.com/dj_leviathan"
                  title="DJ LEVIATHAN"
                  target="_blank"
                  style="color: #cccccc; text-decoration: none;"
                  >DJ LEVIATHAN</a
                > · <a
                  href="https://soundcloud.com/dj_leviathan/leviathan-the-philosopher-hellbound-21-02-2015"
                  title="Leviathan & The Philosopher @ Hellbound - 21-02-2015"
                  target="_blank"
                  style="color: #cccccc; text-decoration: none;"
                  >Leviathan &amp; The Philosopher @ Hellbound - 21-02-2015</a
                >
              </div>
            </div>

            <hr />

            <div class="release">
              <iframe
                width="100%"
                height="450"
                scrolling="no"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/258930845&color=%2365749e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
              ></iframe>
            </div>

            <hr />

            <div class="release"></div>

            <div class="release">
              <h4>DJ Delirium & Guitar Rob - The New World</h4>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/xJajcIXBzgE?si=5vsrVk-wrk7zGKBh"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
            <div class="release"></div>
            <div class="release"></div>
            <div class="release"></div>
            <div class="release"></div>
          </div>
        </div>
      </div>

      <hr />
      <hr />

      <div class="section-island">
        <div class="spotlight-release">
          <strong
            ><p>Greetings,</p>

            <p>
              Whether you're a seasoned developer or just getting started,
              your insights can greatly enhance my development experience with
              Astro. If you have any tips or suggestions, please take a moment
              to share them.
            </p>

            <table
              style={{
                width: "100%",
                marginTop: "10px",
                borderCollapse: "collapse",
                border: "1px solid black",
              }}
            >
              <thead style={{ backgroundColor: "black", color: "white" }}>
                <tr>
                  <th style={{ padding: "10px", textAlign: "left" }}
                    >Source</th
                  >
                  <th style={{ padding: "10px", textAlign: "left" }}
                    >How to</th
                  >
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    style={{
                      padding: "10px",
                      borderBottom: "1px solid black",
                    }}>Github Issue Tracker</td
                  >
                  <td
                    style={{
                      padding: "10px",
                      borderBottom: "1px solid black",
                    }}
                  >
                    Create an issue on the <a
                      href="https://github.com/ThomPoppins/un-radio/issues"
                      target="_blank"
                      rel="noopener noreferrer"
                      style={{
                        color: "black",
                        textDecoration: "none",
                        fontWeight: "bold",
                      }}
                    >
                      un-radio repository issue tracker
                    </a>.
                  </td>
                </tr>
                <tr>
                  <td
                    style={{
                      padding: "10px",
                      borderBottom: "1px solid black",
                    }}>Github Discussions</td
                  >
                  <td
                    style={{
                      padding: "10px",
                      borderBottom: "1px solid black",
                    }}
                  >
                    Start a discussion on the <a
                      href="https://github.com/ThomPoppins/un-radio/discussions"
                      target="_blank"
                      rel="noopener noreferrer"
                      style={{
                        color: "black",
                        textDecoration: "none",
                        fontWeight: "bold",
                      }}
                    >
                      un-radio Github Discussions
                    </a>.
                  </td>
                </tr>
                <tr>
                  <td style={{ padding: "10px" }}>Email</td>
                  <td style={{ padding: "10px" }}>
                    Send an email to <a
                      href="mailto:thompoppins@gmail.com"
                      style={{
                        color: "black",
                        textDecoration: "none",
                        fontWeight: "bold",
                      }}
                    >
                      thompoppins@gmail.com
                    </a>.
                  </td>
                </tr>
              </tbody>
            </table>

            <p>Thank you in advance, enjoy!</p>

            <p>
              Best regards,<br />
               ThomDev
            </p>
          </strong>
        </div>
      </div>

      <div class="section-island">
        <div class="spotlight-release">
          <div class="artist">
            <h2>Hellfish</h2>

            <div class="release">
              <iframe
                style="border: 0; width: 600px; height: 1036px;"
                src="https://bandcamp.com/EmbeddedPlayer/album=95547012/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/"
                seamless
                ><a
                href="https://hellfish-dc.bandcamp.com/album/meat-machine-attack-system">Meat
                Machine Attack System by Hellfish</a></iframe
              >
            </div>

            <div class="release">
              <iframe
                style="border: 0; width: 600px; height: 838px;"
                src="https://bandcamp.com/EmbeddedPlayer/album=679979819/size=large/bgcol=333333/linkcol=e99708/transparent=true/"
                seamless
                ><a
                href="https://hellfish-dc.bandcamp.com/album/fully-weaponized-hellfish-battle-beats-vol-6">Fully
                Weaponized Hellfish Battle Beats Vol 6 by Hellfish</a></iframe
              >
            </div>
          </div>
        </div>
      </div>

      <div class="section-island">
        <div class="spotlight-release">
          <div class="artist">
            <h2>Arjuna</h2>
            <p>
              Arjuna is standing strong as creative and original music
              producer who did not follow the rest into the mainstream
              hardcore sounds and stayed with his early hardcore roots with a
              real cool sound and relavent to my favorite oldschool hardcore
              record labels, more about that soon!
            </p>

            <h3>Live</h3>

            <div class="release">
              <div class="youtube-embed-container">
                <iframe
                  class="youtube-video"
                  src="https://www.youtube.com/embed/6ZkgVkDlm4o?si=yYQ6O03yquKipig3"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
              </div>
            </div>

            <hr />

            <h3>Releases</h3>

            <div class="release">
              <iframe
                width="100%"
                height="166"
                scrolling="no"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/681863654&color=%236a12ec&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
              ></iframe>
            </div>

            <div class="release">
              <iframe
                width="100%"
                height="166"
                scrolling="no"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1607770269&color=%236a12ec&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
              ></iframe><div
                style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
              >
                <a
                  href="https://soundcloud.com/1_11_15"
                  title="Slugnoid"
                  target="_blank"
                  style="color: #cccccc; text-decoration: none;">Slugnoid</a
                > · <a
                  href="https://soundcloud.com/1_11_15/arjuna-vs-slugnoid-ragga-twins"
                  title="Arjuna vs Slugnoid - Ragga Twins"
                  target="_blank"
                  style="color: #cccccc; text-decoration: none;"
                  >Arjuna vs Slugnoid - Ragga Twins</a
                >
              </div>
            </div>

            <iframe
              width="100%"
              height="166"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/999058303&color=%2372366f&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
            ></iframe><div
              style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
            >
              <a
                href="https://soundcloud.com/user-119201155"
                title="Dj Arjuna"
                target="_blank"
                style="color: #cccccc; text-decoration: none;">Dj Arjuna</a
              > · <a
                href="https://soundcloud.com/user-119201155/arjuna-a-tribute-to-space-seed-devastation"
                title="-ArjunA - A Tribute To Space Seed Devastation -"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
                >-ArjunA - A Tribute To Space Seed Devastation -</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="section-island">
        <div class="spotlight-release">
          <div class="artist">
            <h2>Radium</h2>

            <div class="release">
              <iframe
                width="100%"
                height="450"
                scrolling="no"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1068456418&color=%23282828&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
              ></iframe>
              <div
                style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
              >
                <a
                  href="https://soundcloud.com/daniel-radium"
                  title="Dj Radium"
                  target="_blank"
                  style="color: #cccccc; text-decoration: none;">Dj Radium</a
                > · <a
                  href="https://soundcloud.com/daniel-radium/sets/abusive-brutality"
                  title="Abusive Brutality"
                  target="_blank"
                  style="color: #cccccc; text-decoration: none;"
                  >Abusive Brutality</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-island">
        <div class="spotlight-release">
          <h2>Early Hardcore / Terror</h2>

          <div class="release">
            <h3>Reeza - Untitled (Album)</h3>

            <iframe
              width="100%"
              height="450"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1041653569&color=%2300cbff&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
            ></iframe><div
              style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
            >
              <a
                href="https://soundcloud.com/reeza_official"
                title="Reeza official"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
                >Reeza official</a
              > · <a
                href="https://soundcloud.com/reeza_official/sets/reeza-untitled-album"
                title="Reeza - Untitled (Album)"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
                >Reeza - Untitled (Album)</a
              >
            </div>
          </div>
        </div>

        <div class="release">
          <h3>Celsius - Voyager</h3>

          <iframe
            width="100%"
            height="450"
            scrolling="no"
            frameborder="no"
            allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1721059332&color=%23caa02e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
          ></iframe><div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
          >
            <a
              href="https://soundcloud.com/karnage-records"
              title="Karnage Records"
              target="_blank"
              style="color: #cccccc; text-decoration: none;"
              >Karnage Records</a
            > · <a
              href="https://soundcloud.com/karnage-records/sets/celsius-voyager-karnage-14"
              title="Celsius - Voyager  [KARNAGE 14]"
              target="_blank"
              style="color: #cccccc; text-decoration: none;"
              >Celsius - Voyager [KARNAGE 14]</a
            >
          </div>
        </div>

        <div class="release">
          <h3>Manic</h3>
          <iframe
            width="100%"
            height="450"
            scrolling="no"
            frameborder="no"
            allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2967358&color=%2365749e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
          ></iframe><div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
          >
            <a
              href="https://soundcloud.com/manic-cenobite"
              title="MANIC"
              target="_blank"
              style="color: #cccccc; text-decoration: none;">MANIC</a
            > · <a
              href="https://soundcloud.com/manic-cenobite/sets/core"
              title="CORE"
              target="_blank"
              style="color: #cccccc; text-decoration: none;">CORE</a
            >
          </div>
        </div>

        <hr />

        <div class="release">
          <h3>Unilateral Records</h3>
          <iframe
            width="100%"
            height="450"
            scrolling="no"
            frameborder="no"
            allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1243732750&color=%230066cc&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
          ></iframe><div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
          >
            <a
              href="https://soundcloud.com/user-305452832"
              title="UNILATERAL RECORDS"
              target="_blank"
              style="color: #cccccc; text-decoration: none;"
              >UNILATERAL RECORDS</a
            > · <a
              href="https://soundcloud.com/user-305452832/sets/unilateral-records"
              title="UNILATERAL RECORDS"
              target="_blank"
              style="color: #cccccc; text-decoration: none;"
              >UNILATERAL RECORDS</a
            >
          </div>
        </div>

        <hr />

        <div class="release">
          <h3>Cyndium Records</h3>
          <iframe
            width="100%"
            height="450"
            scrolling="no"
            frameborder="no"
            allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1370026084&color=%230066cc&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
          ></iframe><div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
          >
            <a
              href="https://soundcloud.com/cyndium-1"
              title="Cyndium"
              target="_blank"
              style="color: #cccccc; text-decoration: none;">Cyndium</a
            > · <a
              href="https://soundcloud.com/cyndium-1/sets/cyndium-records"
              title="Cyndium Records"
              target="_blank"
              style="color: #cccccc; text-decoration: none;"
              >Cyndium Records</a
            >
          </div>
        </div>

        <hr />

        <div class="release">
          <h3>Soundcloud HUGE AND GOOD early hardcore playlists</h3>
          <div class="release">
            <iframe
              width="100%"
              height="450"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/798902319&color=%230066cc&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
            ></iframe><div
              style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
            >
              <a
                href="https://soundcloud.com/user-881961765"
                title="monbay"
                target="_blank"
                style="color: #cccccc; text-decoration: none;">monbay</a
              > · <a
                href="https://soundcloud.com/user-881961765/sets/dikke-early"
                title="dikke early"
                target="_blank"
                style="color: #cccccc; text-decoration: none;">dikke early</a
              >
            </div>
          </div>
        </div>

        <div class="release">
          <iframe
            width="100%"
            height="450"
            scrolling="no"
            frameborder="no"
            allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/989503291&color=%230066cc&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
          ></iframe><div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
          >
            <a
              href="https://soundcloud.com/tim-wiechmann-448173823"
              title="Early Achim"
              target="_blank"
              style="color: #cccccc; text-decoration: none;">Early Achim</a
            > · <a
              href="https://soundcloud.com/tim-wiechmann-448173823/sets/early"
              title="Early Hardcore / Early Terror"
              target="_blank"
              style="color: #cccccc; text-decoration: none;"
              >Early Hardcore / Early Terror</a
            >
          </div>
        </div>

        <div class="release">
          <h3>𝗫𝗤𝗥𝗨𝗖𝗜𝗔𝗧𝗢𝗥 𝗕𝟮𝗕 𝗙𝗔𝗡𝗜𝗔𝗖 - 𝗚𝗔𝗕𝗕𝗘𝗥𝗟𝗔𝗡𝗗 | (𝟮𝟭-𝟭𝟬-𝟮𝟬𝟮𝟯)</h3>
          <iframe
            width="100%"
            height="166"
            scrolling="no"
            frameborder="no"
            allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1652790039&color=%230066cc&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
          ></iframe><div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
          >
            <a
              href="https://soundcloud.com/faniac-754186111"
              title="𝗙𝗔𝗡𝗜𝗔𝗖"
              target="_blank"
              style="color: #cccccc; text-decoration: none;">𝗙𝗔𝗡𝗜𝗔𝗖</a
            > · <a
              href="https://soundcloud.com/faniac-754186111/xqruciator-b2b-faniac"
              title="𝗫𝗤𝗥𝗨𝗖𝗜𝗔𝗧𝗢𝗥 𝗕𝟮𝗕 𝗙𝗔𝗡𝗜𝗔𝗖 - 𝗚𝗔𝗕𝗕𝗘𝗥𝗟𝗔𝗡𝗗 | (𝟮𝟭-𝟭𝟬-𝟮𝟬𝟮𝟯)"
              target="_blank"
              style="color: #cccccc; text-decoration: none;"
              >𝗫𝗤𝗥𝗨𝗖𝗜𝗔𝗧𝗢𝗥 𝗕𝟮𝗕 𝗙𝗔𝗡𝗜𝗔𝗖 - 𝗚𝗔𝗕𝗕𝗘𝗥𝗟𝗔𝗡𝗗 | (𝟮𝟭-𝟭𝟬-𝟮𝟬𝟮𝟯)</a
            >
          </div>
        </div>
      </div>

      <div class="section-island">
        <div class="spotlight-release">
          <div class="label">
            <h3>Dosis Decibel Records</h3>A a QSQ a
            <iframe
              style="border: 0; width: 600px; height: 946px;"
              src="https://bandcamp.com/EmbeddedPlayer/album=3187416770/size=large/bgcol=ffffff/linkcol=e99708/package=257034191/transparent=true/"
              seamless
              ><a
              href="https://dosisdecibelrecords.bandcamp.com/album/dosis-decibel-013">DOSIS
              DECIBEL 013 by Sam. C / Sparks</a></iframe
            >
          </div>
        </div>
      </div>

      <div class="section-island">
        <div class="spotlight-release">
          <div class="label">
            <h3>Deestricted</h3>
            <i
              >Deestricted is self-claimed intensity, relentless pace, sharp
              and rowdy techno sounds. Deestricted is sweat, condensation on
              walls, the weave of bodies. Deestricted is a club night born
              inside the walls of Griessmühle, now evolved into a record
              label.</i
            >
          </div>

          <h4>Releases:</h4>

          <div class="release">
            <h4>🌌 V.A. - HLX-1 🌌</h4>
            <iframe
              width="100%"
              height="450"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1714367979&color=%237a99a6&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
            ></iframe><div
              style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
            >
              <a
                href="https://soundcloud.com/deestricted"
                title="Deestricted"
                target="_blank"
                style="color: #cccccc; text-decoration: none;">Deestricted</a
              > · <a
                href="https://soundcloud.com/deestricted/sets/va-hlx-1-hlx-1"
                title="[HLX 1] - V.A. - HLX-1"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
                >[HLX 1] - V.A. - HLX-1</a
              >
            </div>

            <div class="release-info">
              <ReleaseInformation
                releaseDate="14th November 2023"
                label="Deestricted"
                country="Berlin, Germany"
                genre="Techno"
                style="Acid, Rave"
                imgUrl="https://f4.bcbits.com/img/a1191229748_10.jpg"
                imgAlt="arc,regn Album Cover"
              />

              <p>
                From the heart of a spiral galaxy to your ears, "HLX-1"
                pulsates with the energy of a cosmic collision. This stellar
                Trance compilation is a testament to the genius and talent of
                11 rising young artists, ready to take you on an intergalactic
                journey through sound elevating your state of mind to a higher
                level.
              </p>=

              <div class="credits">
                <p>Mastering: Konstantin Frey (SCHLIMME MUSIK)</p>
                <p>Artwork: Giulio Urbini</p>
              </div>

              <div class="connect-with">
                <p>Connect with Deestricted:</p>
                <ul>
                  <li>Website: www.deestricted.com</li>
                  <li>SoundCloud: @deestricted</li>
                  <li>Bandcamp: deestricted.bandcamp.com/music</li>
                  <li>Instagram: www.instagram.com/deestricted/</li>
                  <li>
                    Instagram (Heelix Berlin):
                    www.instagram.com/heelix.berlin/
                  </li>
                  <li>Telegram: t.me/deestricted</li>
                  <li>YouTube: www.youtube.com/@deestricted</li>
                </ul>
              </div>

              <p>Releasedatum (Release Date): 14 november 2023</p>
            </div>
          </div>
        </div>
      </div>

      <!-- END OF LABEL -->

      <div class="section-island">
        <div class="spotlight-release">
          <div class="label">
            <h2>Flatlife Records</h2>

            <p>
              <strong>Flatlife Records</strong> identifies as Dutch
              Underground label & distributor. Specializing in Techno, Acid
              Core, Acid House, Acid Electro, Acid Trance, Jungle (90s Sound),
              and Goa Psytrance. Also, a distributor for underground music
              vinyl labels. Profits will be used for new vinyl releases per
              distro label! Save the vinyl!! Owner: Jack Wax.
            </p>
            <p>
              The enjoyment derived from Flatlife Records' releases has been
              nothing short of remarkable. This sentiment extends beyond my
              personal perspective, as visitors to my apartment consistently
              express their admiration. It's not uncommon for them to exclaim,
              "Wow, this music is truly impressive!" or convey similar
              sentiments. This collective appreciation underscores the
              universal appeal and quality that defines Flatlife Records'
              musical offerings. 🌟🎵
            </p>

            <h3><strong>Releases:</strong></h3>

            <div class="release">
              <h3>Southside Records 002 (Acid Techno)</h3>
              <iframe
                style="border: 0; width: 560px; height: 435px;"
                src="https://bandcamp.com/VideoEmbed?track=2469731693&bgcol=333333&linkcol=e99708"
                allowfullscreen="1"
                seamless></iframe>
              <iframe
                style="border: 0; width: 600px; height: 946px;"
                src="https://bandcamp.com/EmbeddedPlayer/album=2778788336/size=large/bgcol=333333/linkcol=e99708/package=1328589485/transparent=true/"
                seamless
                ><a
                href="https://flatliferecords.bandcamp.com/album/southside-records-002-acid-techno">Southside
                Records 002 (Acid Techno) by The Southside Warriors / Acid
                Chochi / Marcio M. &amp; Tiago Santos</a></iframe
              >
            </div>

            <div class="release"></div>
            <h3>
              DICA / Ganez The Terrible - Sorry For Your Neighbours EP (Acid
              Techno)
            </h3>
            <iframe
              style="border: 0; width: 600px; height: 838px;"
              src="https://bandcamp.com/EmbeddedPlayer/album=1684070906/size=large/bgcol=333333/linkcol=2ebd35/package=1427366211/transparent=true/"
              seamless
              ><a
              href="https://flatliferecords.bandcamp.com/album/sorry-for-your-neighbours-ep-restocked-acid-techno">Sorry
              For Your Neighbours EP (RESTOCKED !) (Acid Techno) by DICA /
              Ganez The Terrible</a></iframe
            >

            <div class="release">
              <h3>
                Alessio Pagliaroli / Oliver Kucera - Flatlife Limited 01 (Acid
                Techno)
              </h3>

              <iframe
                style="border: 0;width: 600px; height: 838px;"
                src="https://bandcamp.com/EmbeddedPlayer/album=1330900896/size=large/bgcol=333333/linkcol=ffffff/package=1174060838/transparent=true/"
                seamless
                ><a
                href="https://flatliferecords.bandcamp.com/album/flatlife-limited-01-acid-techno">Flatlife
                Limited 01 (Acid Techno) by Alessio Pagliaroli / Oliver
                Kucera</a></iframe
              >
            </div>
          </div>
          <!-- END OF LABEL -->
        </div>
      </div>

      <div class="section-island">
        <div class="spotlight-release">
          <div class="label"></div>
          <h3>Ruffneck Records</h3>

          <p>
            <strong
              >Pioneering Hardcore Sounds in The Hague, Netherlands 🚀</strong
            >
          </p>

          <p>
            Ruffneck Records, founded by Patrick van Kerckhoven, also known as
            DJ Ruffneck, stands as a pioneering force in the hardcore music
            community. Rooted in The Hague, Netherlands, the label has become
            synonymous with the unique and groundbreaking genre known as
            'artcore,' a sound crafted by DJ Ruffneck himself.
          </p>

          <p>
            The releases from Ruffneck Records showcase a dynamic blend of
            breakbeats, tearing Juno synths, and heavily distorted kick drums.
            This distinctive combination has left an indelible mark on the
            hardcore scene, making Ruffneck Records a trailblazer in the
            evolution of hardcore music.
          </p>

          <p>
            The catalog of Ruffneck Records is a testament to its commitment
            to pushing the boundaries of sound. From DJ Ruffneck's solo
            releases, such as "Napalm (Burn!)" and "I am the one," to
            collaborative efforts like "Ruffneck Rules Da Artcore Scene !!!"
            with Juggernaut, the label consistently delivers intense,
            high-energy tracks that resonate with hardcore enthusiasts.
          </p>

          <p>
            Noteworthy releases like "The Final Riot (DJ Ruffneck Reworks)" by
            Moshpitch, "Bring 'Em Hardcore!" by Kirlian, and "Hardcore 'Ala
            Turca'" featuring Ruffneck vs Moshpitch showcase the diversity
            within the label's repertoire. Special series, remix projects, and
            collaborative efforts with various artists further emphasize
            Ruffneck Records' commitment to pushing the boundaries of the
            hardcore genre.
          </p>

          <p>
            Beyond the music, Ruffneck Records is not just a label; it's a
            community. With a strong online presence and platforms like
            Bandcamp, the label engages with its audience, providing a space
            for fans to connect with the artists and the music that defines
            the Ruffneck sound.
          </p>

          <p>
            In summary, Ruffneck Records is a powerhouse in the hardcore music
            scene, shaping and defining the artcore genre with a catalog that
            spans solo releases, collaborations, and special series. DJ
            Ruffneck's vision and commitment to pushing the sonic boundaries
            have established Ruffneck Records as a pivotal player in the
            evolution of hardcore music.
          </p>

          <hr />

          <p><strong>Releases:</strong></p>

          <div class="release">
            <h3></h3>
          </div>

          <div class="release">
            <iframe
              style="border: 0; width: 600px; height: 871px;"
              src="https://bandcamp.com/EmbeddedPlayer/album=1956029808/size=large/bgcol=333333/linkcol=2ebd35/transparent=true/"
              seamless
              ><a href="https://ruffneck.bandcamp.com/album/ganjaman">Ganjaman
              by Wedlock (DJ Ruffneck)</a></iframe
            >
          </div>

          <div class="release">
            <h3></h3>

            <div class="release-info">
              <ReleaseInformation
                releaseDate="1996"
                label=""
                country="Netherlands"
                genre="Electric"
                style="	Hardcore, Gabber"
                imgUrl=""
                imgAlt="Album Cover Ruffneck Rules The Artcore Scene"
              />
            </div>

            <iframe
              style="border: 0; width: 600px; height: 805px;"
              src="https://bandcamp.com/EmbeddedPlayer/album=2351964291/size=large/bgcol=333333/linkcol=e99708/transparent=true/"
              seamless
              ><a
              href="https://ruffneck.bandcamp.com/album/ruffneck-rules-da-artcore-scene">Ruffneck
              Rules Da Artcore Scene !!! by Juggernaut (DJ Ruffneck)</a></iframe
            >
          </div>

          <div class="release">
            <h3>Lockjaw - The Plastic Men!</h3>

            <div class="release-info">
              <ReleaseInformation
                releaseDate="Oct 23, 2020"
                label="	Ruffneck Records – RUFF 058X"
                country="Netherlands"
                genre="Electric"
                style="	Hardcore, Gabber"
                imgUrl="https://i.discogs.com/gD9u-7hzpibGolX8akwnsy4AP2Osvj4gqujBM9zNXy8/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTE2MTAw/NjUzLTE2MDM0NDI3/OTktNTkyNS5qcGVn.jpeg"
                imgAlt="Album Cover Lockjaqw The Plastic Man"
              />
            </div>

            <iframe
              style="border: 0; width: 600px; height: 838px;"
              src="https://bandcamp.com/EmbeddedPlayer/album=2233699242/size=large/bgcol=333333/linkcol=9a64ff/transparent=true/"
              seamless
            >
              <a
              href="https://ruffneck.bandcamp.com/album/the-plastic-men">Listen
              on Bandcamp</a>
            </iframe>
          </div>
          <div class="release">
            <h3>Knightvision - search for marihuana</h3>
            <iframe
              style="border: 0; width: 600px; height: 805px;"
              src="https://bandcamp.com/EmbeddedPlayer/album=1023130161/size=large/bgcol=333333/linkcol=9a64ff/transparent=true/"
              seamless
              ><a
              href="https://ruffneck.bandcamp.com/album/the-search-for-marihuana">The
              search for marihuana by Knightvision</a></iframe
            >
          </div>
        </div>
      </div>
      <!-- END OF LABEL -->

      <div class="section-island">
        <div class="spotlight-release">
          <h2>Motormouth Records</h2>
          <div class="release">
            <iframe
              width="100%"
              height="450"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1400281375&color=%235e6060&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
            ></iframe><div
              style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
            >
              <a
                href="https://soundcloud.com/motormouth-recordz"
                title="Motormouth Recordz"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
                >Motormouth Recordz</a
              > · <a
                href="https://soundcloud.com/motormouth-recordz/sets/motormouth-recordz-2017-2021"
                title="Motormouth Recordz 2017 - 2021: Consolidated Chaos: Part Two"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
                >Motormouth Recordz 2017 - 2021: Consolidated Chaos: Part Two</a
              >
            </div>
          </div>

          <div class="release">
            <h3>[MOUTHDATA095] Doormouse - Spring Break Forever</h3>
            <iframe
              width="100%"
              height="450"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1278902260&color=%235e6060&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
            ></iframe><div
              style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
            >
              <a
                href="https://soundcloud.com/motormouth-recordz"
                title="Motormouth Recordz"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
                >Motormouth Recordz</a
              > · <a
                href="https://soundcloud.com/motormouth-recordz/sets/mouthdata095-doormouse-spring"
                title="MOUTHDATA095: Doormouse - Spring Break Forever"
                target="_blank"
                style="color: #cccccc; text-decoration: none;"
                >MOUTHDATA095: Doormouse - Spring Break Forever</a
              >
            </div>
          </div>
        </div>

        <div class="section-island">
          <div class="spotlight-release">
            <div class="release">
              <h3>Ruffneck Prime and STLTH - Płatek Śniegu 🎶</h3>
              <div class="youtube-embed-container">
                <iframe
                  class="youtube-video"
                  src="https://www.youtube.com/embed/Oh_7l80MCpw?si=Au93sNyXvAYm0X_b"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-island">
        <div class="spotlight-release">
          <div class="release">
            <iframe
              style="border: 0; width: 600px; height: 692px;"
              src="https://bandcamp.com/EmbeddedPlayer/track=2892129051/size=large/bgcol=333333/linkcol=9a64ff/tracklist=false/transparent=true/"
              seamless
              ><a href="https://refusion.bandcamp.com/track/koo">Koo by Dj
              Mutante</a></iframe
            >
          </div>
        </div>
      </div>

      <div class="section-island">
        <div class="spotlight-release">
          <h3>Abstraction</h3>
        </div>
      </div>
    </div>
  </div>
</div>

 */
    }
  </div>
</BaseLayout>
