---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";

let { pageTitle } = Astro.props;
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
<h1 class="page-title">{pageTitle}</h1>
