---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";

let { pageTitle, featuredUrl, image } = Astro.props;
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>

  {
    featuredUrl ? (
      <h1 class="page-title">
        <a href={featuredUrl} target="_blank">
          {pageTitle}
        </a>
      </h1>
    ) : (
      <h1 class="page-title">{pageTitle}</h1>
    )
  }
</header>
