---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";

let { pageTitle } = Astro.props;
---

<header>
  <h1>{pageTitle}</h1>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
