<div class="nav-links">
  <a href="/">Home</a>
  <a href="/music">Music</a>
  <a href="/playlists">Playlists</a>
  <a href="/fiction">Fiction</a>
  <a href="/blog">Blog</a>
  <a href="/contact/">Contact</a>
</div>
